<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="code">
          <h1 class="page-heading">{{ page.title }}</h1>
          {{ content }}

          <p class="code-code-list">
            {% for code in site.codes %}

              {% if code.draft != true %}
                <span class="code-code-date">{{ code.date | date: "%-m/%-d/%y" }}</span>
                <a href="{{ code.url | replace:".html","" | prepend: site.baseurl }}" class="code-code-title">
                  {{ code.title }}
                </a>
                <br />

              {% endif %}

            {% endfor %}
          </p>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
